UATClient/src/META-INF/wsdl/10.0.7.111_18080/UserMasterServiceService/UserMasterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.master.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.master.promo.fks.com/" name="UserMasterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.master.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/UserMasterServiceService/UserMasterService?xsd=1" />
</xsd:schema>
</types>
<message name="changePassword">
<part name="parameters" element="tns:changePassword" />
</message>
<message name="changePasswordResponse">
<part name="parameters" element="tns:changePasswordResponse" />
</message>
<message name="authorizeUser">
<part name="parameters" element="tns:authorizeUser" />
</message>
<message name="authorizeUserResponse">
<part name="parameters" element="tns:authorizeUserResponse" />
</message>
<message name="createUser">
<part name="parameters" element="tns:createUser" />
</message>
<message name="createUserResponse">
<part name="parameters" element="tns:createUserResponse" />
</message>
<message name="forgotPassword">
<part name="parameters" element="tns:forgotPassword" />
</message>
<message name="forgotPasswordResponse">
<part name="parameters" element="tns:forgotPasswordResponse" />
</message>
<message name="validateUserID">
<part name="parameters" element="tns:validateUserID" />
</message>
<message name="validateUserIDResponse">
<part name="parameters" element="tns:validateUserIDResponse" />
</message>
<message name="searchEmployeeDetail">
<part name="parameters" element="tns:searchEmployeeDetail" />
</message>
<message name="searchEmployeeDetailResponse">
<part name="parameters" element="tns:searchEmployeeDetailResponse" />
</message>
<message name="getAllEmployee">
<part name="parameters" element="tns:getAllEmployee" />
</message>
<message name="getAllEmployeeResponse">
<part name="parameters" element="tns:getAllEmployeeResponse" />
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser" />
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse" />
</message>
<message name="updateUserInfo">
<part name="parameters" element="tns:updateUserInfo" />
</message>
<message name="updateUserInfoResponse">
<part name="parameters" element="tns:updateUserInfoResponse" />
</message>
<message name="getUserWiseProfileDtl">
<part name="parameters" element="tns:getUserWiseProfileDtl" />
</message>
<message name="getUserWiseProfileDtlResponse">
<part name="parameters" element="tns:getUserWiseProfileDtlResponse" />
</message>
<message name="getUserAndProfileWiseMchDtl">
<part name="parameters" element="tns:getUserAndProfileWiseMchDtl" />
</message>
<message name="getUserAndProfileWiseMchDtlResponse">
<part name="parameters" element="tns:getUserAndProfileWiseMchDtlResponse" />
</message>
<message name="submitUserMCHDetail">
<part name="parameters" element="tns:submitUserMCHDetail" />
</message>
<message name="submitUserMCHDetailResponse">
<part name="parameters" element="tns:submitUserMCHDetailResponse" />
</message>
<message name="getUserDetailBasedOnId">
<part name="parameters" element="tns:getUserDetailBasedOnId" />
</message>
<message name="getUserDetailBasedOnIdResponse">
<part name="parameters" element="tns:getUserDetailBasedOnIdResponse" />
</message>
<message name="getMCUsers">
<part name="parameters" element="tns:getMCUsers" />
</message>
<message name="getMCUsersResponse">
<part name="parameters" element="tns:getMCUsersResponse" />
</message>
<message name="getMCHUsersDownlodFile">
<part name="parameters" element="tns:getMCHUsersDownlodFile" />
</message>
<message name="getMCHUsersDownlodFileResponse">
<part name="parameters" element="tns:getMCHUsersDownlodFileResponse" />
</message>
<portType name="UserMasterService">
<operation name="changePassword">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/changePasswordRequest" message="tns:changePassword" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/changePasswordResponse" message="tns:changePasswordResponse" />
</operation>
<operation name="authorizeUser">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/authorizeUserRequest" message="tns:authorizeUser" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/authorizeUserResponse" message="tns:authorizeUserResponse" />
</operation>
<operation name="createUser">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/createUserRequest" message="tns:createUser" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/createUserResponse" message="tns:createUserResponse" />
</operation>
<operation name="forgotPassword">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/forgotPasswordRequest" message="tns:forgotPassword" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/forgotPasswordResponse" message="tns:forgotPasswordResponse" />
</operation>
<operation name="validateUserID">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/validateUserIDRequest" message="tns:validateUserID" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/validateUserIDResponse" message="tns:validateUserIDResponse" />
</operation>
<operation name="searchEmployeeDetail">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/searchEmployeeDetailRequest" message="tns:searchEmployeeDetail" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/searchEmployeeDetailResponse" message="tns:searchEmployeeDetailResponse" />
</operation>
<operation name="getAllEmployee">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getAllEmployeeRequest" message="tns:getAllEmployee" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getAllEmployeeResponse" message="tns:getAllEmployeeResponse" />
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/deleteUserRequest" message="tns:deleteUser" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/deleteUserResponse" message="tns:deleteUserResponse" />
</operation>
<operation name="updateUserInfo">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/updateUserInfoRequest" message="tns:updateUserInfo" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/updateUserInfoResponse" message="tns:updateUserInfoResponse" />
</operation>
<operation name="getUserWiseProfileDtl">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserWiseProfileDtlRequest" message="tns:getUserWiseProfileDtl" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserWiseProfileDtlResponse" message="tns:getUserWiseProfileDtlResponse" />
</operation>
<operation name="getUserAndProfileWiseMchDtl">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserAndProfileWiseMchDtlRequest" message="tns:getUserAndProfileWiseMchDtl" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserAndProfileWiseMchDtlResponse" message="tns:getUserAndProfileWiseMchDtlResponse" />
</operation>
<operation name="submitUserMCHDetail">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/submitUserMCHDetailRequest" message="tns:submitUserMCHDetail" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/submitUserMCHDetailResponse" message="tns:submitUserMCHDetailResponse" />
</operation>
<operation name="getUserDetailBasedOnId">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserDetailBasedOnIdRequest" message="tns:getUserDetailBasedOnId" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getUserDetailBasedOnIdResponse" message="tns:getUserDetailBasedOnIdResponse" />
</operation>
<operation name="getMCUsers">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getMCUsersRequest" message="tns:getMCUsers" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getMCUsersResponse" message="tns:getMCUsersResponse" />
</operation>
<operation name="getMCHUsersDownlodFile">
<input wsam:Action="http://service.master.promo.fks.com/UserMasterService/getMCHUsersDownlodFileRequest" message="tns:getMCHUsersDownlodFile" />
<output wsam:Action="http://service.master.promo.fks.com/UserMasterService/getMCHUsersDownlodFileResponse" message="tns:getMCHUsersDownlodFileResponse" />
</operation>
</portType>
<binding name="UserMasterServicePortBinding" type="tns:UserMasterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="changePassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="authorizeUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="forgotPassword">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validateUserID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchEmployeeDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllEmployee">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateUserInfo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserWiseProfileDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserAndProfileWiseMchDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitUserMCHDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserDetailBasedOnId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMCUsers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMCHUsersDownlodFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="UserMasterServiceService">
<port name="UserMasterServicePort" binding="tns:UserMasterServicePortBinding">
<soap:address location="http://10.0.7.111:18080/UserMasterServiceService/UserMasterService" />
</port>
</service>
</definitions>