UATClient/xml-resources/web-service-references/TaskService/wsdl/10.0.7.111_18080/TaskServiceService/TaskService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://task.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://task.promo.fks.com/" name="TaskServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://task.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/TaskServiceService/TaskService?xsd=1" />
</xsd:schema>
</types>
<message name="creatTask">
<part name="parameters" element="tns:creatTask" />
</message>
<message name="creatTaskResponse">
<part name="parameters" element="tns:creatTaskResponse" />
</message>
<message name="updateTask">
<part name="parameters" element="tns:updateTask" />
</message>
<message name="updateTaskResponse">
<part name="parameters" element="tns:updateTaskResponse" />
</message>
<message name="searchTask">
<part name="parameters" element="tns:searchTask" />
</message>
<message name="searchTaskResponse">
<part name="parameters" element="tns:searchTaskResponse" />
</message>
<message name="getAllTeamMembers">
<part name="parameters" element="tns:getAllTeamMembers" />
</message>
<message name="getAllTeamMembersResponse">
<part name="parameters" element="tns:getAllTeamMembersResponse" />
</message>
<message name="statusChangeTransPromoByTeamMember">
<part name="parameters" element="tns:statusChangeTransPromoByTeamMember" />
</message>
<message name="statusChangeTransPromoByTeamMemberResponse">
<part name="parameters" element="tns:statusChangeTransPromoByTeamMemberResponse" />
</message>
<message name="statusChangeTransPromoByTeamMemberList">
<part name="parameters" element="tns:statusChangeTransPromoByTeamMemberList" />
</message>
<message name="statusChangeTransPromoByTeamMemberListResponse">
<part name="parameters" element="tns:statusChangeTransPromoByTeamMemberListResponse" />
</message>
<message name="closePromotionByFile">
<part name="parameters" element="tns:closePromotionByFile" />
</message>
<message name="closePromotionByFileResponse">
<part name="parameters" element="tns:closePromotionByFileResponse" />
</message>
<portType name="TaskService">
<operation name="creatTask">
<input wsam:Action="http://task.promo.fks.com/TaskService/creatTaskRequest" message="tns:creatTask" />
<output wsam:Action="http://task.promo.fks.com/TaskService/creatTaskResponse" message="tns:creatTaskResponse" />
</operation>
<operation name="updateTask">
<input wsam:Action="http://task.promo.fks.com/TaskService/updateTaskRequest" message="tns:updateTask" />
<output wsam:Action="http://task.promo.fks.com/TaskService/updateTaskResponse" message="tns:updateTaskResponse" />
</operation>
<operation name="searchTask">
<input wsam:Action="http://task.promo.fks.com/TaskService/searchTaskRequest" message="tns:searchTask" />
<output wsam:Action="http://task.promo.fks.com/TaskService/searchTaskResponse" message="tns:searchTaskResponse" />
</operation>
<operation name="getAllTeamMembers">
<input wsam:Action="http://task.promo.fks.com/TaskService/getAllTeamMembersRequest" message="tns:getAllTeamMembers" />
<output wsam:Action="http://task.promo.fks.com/TaskService/getAllTeamMembersResponse" message="tns:getAllTeamMembersResponse" />
</operation>
<operation name="statusChangeTransPromoByTeamMember">
<input wsam:Action="http://task.promo.fks.com/TaskService/statusChangeTransPromoByTeamMemberRequest" message="tns:statusChangeTransPromoByTeamMember" />
<output wsam:Action="http://task.promo.fks.com/TaskService/statusChangeTransPromoByTeamMemberResponse" message="tns:statusChangeTransPromoByTeamMemberResponse" />
</operation>
<operation name="statusChangeTransPromoByTeamMemberList">
<input wsam:Action="http://task.promo.fks.com/TaskService/statusChangeTransPromoByTeamMemberListRequest" message="tns:statusChangeTransPromoByTeamMemberList" />
<output wsam:Action="http://task.promo.fks.com/TaskService/statusChangeTransPromoByTeamMemberListResponse" message="tns:statusChangeTransPromoByTeamMemberListResponse" />
</operation>
<operation name="closePromotionByFile">
<input wsam:Action="http://task.promo.fks.com/TaskService/closePromotionByFileRequest" message="tns:closePromotionByFile" />
<output wsam:Action="http://task.promo.fks.com/TaskService/closePromotionByFileResponse" message="tns:closePromotionByFileResponse" />
</operation>
</portType>
<binding name="TaskServicePortBinding" type="tns:TaskService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="creatTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchTask">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllTeamMembers">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="statusChangeTransPromoByTeamMember">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="statusChangeTransPromoByTeamMemberList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="closePromotionByFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TaskServiceService">
<port name="TaskServicePort" binding="tns:TaskServicePortBinding">
<soap:address location="http://10.0.7.111:18080/TaskServiceService/TaskService" />
</port>
</service>
</definitions>