UATClient/xml-resources/web-service-references/CommService/wsdl/10.0.7.111_18080/CommServiceService/CommService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.comm.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.comm.promo.fks.com/" name="CommServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.comm.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/CommServiceService/CommService?xsd=1" />
</xsd:schema>
</types>
<message name="searchComm">
<part name="parameters" element="tns:searchComm" />
</message>
<message name="searchCommResponse">
<part name="parameters" element="tns:searchCommResponse" />
</message>
<message name="getAllCategoryFromMstPromo">
<part name="parameters" element="tns:getAllCategoryFromMstPromo" />
</message>
<message name="getAllCategoryFromMstPromoResponse">
<part name="parameters" element="tns:getAllCategoryFromMstPromoResponse" />
</message>
<message name="getAllMchCategFromPromo">
<part name="parameters" element="tns:getAllMchCategFromPromo" />
</message>
<message name="getAllMchCategFromPromoResponse">
<part name="parameters" element="tns:getAllMchCategFromPromoResponse" />
</message>
<message name="getAllSubCategegoryMch">
<part name="parameters" element="tns:getAllSubCategegoryMch" />
</message>
<message name="getAllSubCategegoryMchResponse">
<part name="parameters" element="tns:getAllSubCategegoryMchResponse" />
</message>
<message name="getAllArticleMchWise">
<part name="parameters" element="tns:getAllArticleMchWise" />
</message>
<message name="getAllArticleMchWiseResponse">
<part name="parameters" element="tns:getAllArticleMchWiseResponse" />
</message>
<message name="getAllZoneUserWise">
<part name="parameters" element="tns:getAllZoneUserWise" />
</message>
<message name="getAllZoneUserWiseResponse">
<part name="parameters" element="tns:getAllZoneUserWiseResponse" />
</message>
<message name="downloadCommArticleMcPromoRequest">
<part name="parameters" element="tns:downloadCommArticleMcPromoRequest" />
</message>
<message name="downloadCommArticleMcPromoRequestResponse">
<part name="parameters" element="tns:downloadCommArticleMcPromoRequestResponse" />
</message>
<portType name="CommService">
<operation name="searchComm">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/searchCommRequest" message="tns:searchComm" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/searchCommResponse" message="tns:searchCommResponse" />
</operation>
<operation name="getAllCategoryFromMstPromo">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/getAllCategoryFromMstPromoRequest" message="tns:getAllCategoryFromMstPromo" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/getAllCategoryFromMstPromoResponse" message="tns:getAllCategoryFromMstPromoResponse" />
</operation>
<operation name="getAllMchCategFromPromo">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/getAllMchCategFromPromoRequest" message="tns:getAllMchCategFromPromo" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/getAllMchCategFromPromoResponse" message="tns:getAllMchCategFromPromoResponse" />
</operation>
<operation name="getAllSubCategegoryMch">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/getAllSubCategegoryMchRequest" message="tns:getAllSubCategegoryMch" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/getAllSubCategegoryMchResponse" message="tns:getAllSubCategegoryMchResponse" />
</operation>
<operation name="getAllArticleMchWise">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/getAllArticleMchWiseRequest" message="tns:getAllArticleMchWise" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/getAllArticleMchWiseResponse" message="tns:getAllArticleMchWiseResponse" />
</operation>
<operation name="getAllZoneUserWise">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/getAllZoneUserWiseRequest" message="tns:getAllZoneUserWise" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/getAllZoneUserWiseResponse" message="tns:getAllZoneUserWiseResponse" />
</operation>
<operation name="downloadCommArticleMcPromoRequest">
<input wsam:Action="http://service.comm.promo.fks.com/CommService/downloadCommArticleMcPromoRequestRequest" message="tns:downloadCommArticleMcPromoRequest" />
<output wsam:Action="http://service.comm.promo.fks.com/CommService/downloadCommArticleMcPromoRequestResponse" message="tns:downloadCommArticleMcPromoRequestResponse" />
</operation>
</portType>
<binding name="CommServicePortBinding" type="tns:CommService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="searchComm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCategoryFromMstPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllMchCategFromPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllSubCategegoryMch">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllArticleMchWise">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllZoneUserWise">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadCommArticleMcPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CommServiceService">
<port name="CommServicePort" binding="tns:CommServicePortBinding">
<soap:address location="http://10.0.7.111:18080/CommServiceService/CommService" />
</port>
</service>
</definitions>