UATClient/src/META-INF/wsdl/10.0.7.111_18080/PromotionInitiateServiceService/PromotionInitiateService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.promotion.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.promotion.fks.com/" name="PromotionInitiateServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.promotion.fks.com/" schemaLocation="http://10.0.7.111:18080/PromotionInitiateServiceService/PromotionInitiateService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllPromotionRequestdtl">
<part name="parameters" element="tns:getAllPromotionRequestdtl" />
</message>
<message name="getAllPromotionRequestdtlResponse">
<part name="parameters" element="tns:getAllPromotionRequestdtlResponse" />
</message>
<message name="SaveSubmitPromoOrganizationDtl">
<part name="parameters" element="tns:SaveSubmitPromoOrganizationDtl" />
</message>
<message name="SaveSubmitPromoOrganizationDtlResponse">
<part name="parameters" element="tns:SaveSubmitPromoOrganizationDtlResponse" />
</message>
<message name="SubmitPromotionDetail">
<part name="parameters" element="tns:SubmitPromotionDetail" />
</message>
<message name="SubmitPromotionDetailResponse">
<part name="parameters" element="tns:SubmitPromotionDetailResponse" />
</message>
<message name="getPromoReqDtlPromoIDwise">
<part name="parameters" element="tns:getPromoReqDtlPromoIDwise" />
</message>
<message name="getPromoReqDtlPromoIDwiseResponse">
<part name="parameters" element="tns:getPromoReqDtlPromoIDwiseResponse" />
</message>
<message name="deletePromotionRequest">
<part name="parameters" element="tns:deletePromotionRequest" />
</message>
<message name="deletePromotionRequestResponse">
<part name="parameters" element="tns:deletePromotionRequestResponse" />
</message>
<message name="getZoneBasedOnFormat">
<part name="parameters" element="tns:getZoneBasedOnFormat" />
</message>
<message name="getZoneBasedOnFormatResponse">
<part name="parameters" element="tns:getZoneBasedOnFormatResponse" />
</message>
<message name="getStateBasedOnFormatAndZone">
<part name="parameters" element="tns:getStateBasedOnFormatAndZone" />
</message>
<message name="getStateBasedOnFormatAndZoneResponse">
<part name="parameters" element="tns:getStateBasedOnFormatAndZoneResponse" />
</message>
<message name="getRegionBasedOnFormatAndState">
<part name="parameters" element="tns:getRegionBasedOnFormatAndState" />
</message>
<message name="getRegionBasedOnFormatAndStateResponse">
<part name="parameters" element="tns:getRegionBasedOnFormatAndStateResponse" />
</message>
<message name="getCityBasedOnFormatAndRegion">
<part name="parameters" element="tns:getCityBasedOnFormatAndRegion" />
</message>
<message name="getCityBasedOnFormatAndRegionResponse">
<part name="parameters" element="tns:getCityBasedOnFormatAndRegionResponse" />
</message>
<message name="getStoreBasedOnFormatAndCity">
<part name="parameters" element="tns:getStoreBasedOnFormatAndCity" />
</message>
<message name="getStoreBasedOnFormatAndCityResponse">
<part name="parameters" element="tns:getStoreBasedOnFormatAndCityResponse" />
</message>
<message name="getAllFormatExceptZoneAndHo">
<part name="parameters" element="tns:getAllFormatExceptZoneAndHo" />
</message>
<message name="getAllFormatExceptZoneAndHoResponse">
<part name="parameters" element="tns:getAllFormatExceptZoneAndHoResponse" />
</message>
<message name="StatusChangedFromDraftOrSubmitOrganizationDtl">
<part name="parameters" element="tns:StatusChangedFromDraftOrSubmitOrganizationDtl" />
</message>
<message name="StatusChangedFromDraftOrSubmitOrganizationDtlResponse">
<part name="parameters" element="tns:StatusChangedFromDraftOrSubmitOrganizationDtlResponse" />
</message>
<portType name="PromotionInitiateService">
<operation name="getAllPromotionRequestdtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getAllPromotionRequestdtlRequest" message="tns:getAllPromotionRequestdtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getAllPromotionRequestdtlResponse" message="tns:getAllPromotionRequestdtlResponse" />
</operation>
<operation name="SaveSubmitPromoOrganizationDtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/SaveSubmitPromoOrganizationDtlRequest" message="tns:SaveSubmitPromoOrganizationDtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/SaveSubmitPromoOrganizationDtlResponse" message="tns:SaveSubmitPromoOrganizationDtlResponse" />
</operation>
<operation name="SubmitPromotionDetail">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/SubmitPromotionDetailRequest" message="tns:SubmitPromotionDetail" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/SubmitPromotionDetailResponse" message="tns:SubmitPromotionDetailResponse" />
</operation>
<operation name="getPromoReqDtlPromoIDwise">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getPromoReqDtlPromoIDwiseRequest" message="tns:getPromoReqDtlPromoIDwise" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getPromoReqDtlPromoIDwiseResponse" message="tns:getPromoReqDtlPromoIDwiseResponse" />
</operation>
<operation name="deletePromotionRequest">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/deletePromotionRequestRequest" message="tns:deletePromotionRequest" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/deletePromotionRequestResponse" message="tns:deletePromotionRequestResponse" />
</operation>
<operation name="getZoneBasedOnFormat">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getZoneBasedOnFormatRequest" message="tns:getZoneBasedOnFormat" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getZoneBasedOnFormatResponse" message="tns:getZoneBasedOnFormatResponse" />
</operation>
<operation name="getStateBasedOnFormatAndZone">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getStateBasedOnFormatAndZoneRequest" message="tns:getStateBasedOnFormatAndZone" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getStateBasedOnFormatAndZoneResponse" message="tns:getStateBasedOnFormatAndZoneResponse" />
</operation>
<operation name="getRegionBasedOnFormatAndState">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getRegionBasedOnFormatAndStateRequest" message="tns:getRegionBasedOnFormatAndState" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getRegionBasedOnFormatAndStateResponse" message="tns:getRegionBasedOnFormatAndStateResponse" />
</operation>
<operation name="getCityBasedOnFormatAndRegion">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getCityBasedOnFormatAndRegionRequest" message="tns:getCityBasedOnFormatAndRegion" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getCityBasedOnFormatAndRegionResponse" message="tns:getCityBasedOnFormatAndRegionResponse" />
</operation>
<operation name="getStoreBasedOnFormatAndCity">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getStoreBasedOnFormatAndCityRequest" message="tns:getStoreBasedOnFormatAndCity" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getStoreBasedOnFormatAndCityResponse" message="tns:getStoreBasedOnFormatAndCityResponse" />
</operation>
<operation name="getAllFormatExceptZoneAndHo">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getAllFormatExceptZoneAndHoRequest" message="tns:getAllFormatExceptZoneAndHo" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/getAllFormatExceptZoneAndHoResponse" message="tns:getAllFormatExceptZoneAndHoResponse" />
</operation>
<operation name="StatusChangedFromDraftOrSubmitOrganizationDtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/StatusChangedFromDraftOrSubmitOrganizationDtlRequest" message="tns:StatusChangedFromDraftOrSubmitOrganizationDtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionInitiateService/StatusChangedFromDraftOrSubmitOrganizationDtlResponse" message="tns:StatusChangedFromDraftOrSubmitOrganizationDtlResponse" />
</operation>
</portType>
<binding name="PromotionInitiateServicePortBinding" type="tns:PromotionInitiateService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllPromotionRequestdtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SaveSubmitPromoOrganizationDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SubmitPromotionDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getPromoReqDtlPromoIDwise">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletePromotionRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getZoneBasedOnFormat">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStateBasedOnFormatAndZone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRegionBasedOnFormatAndState">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCityBasedOnFormatAndRegion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getStoreBasedOnFormatAndCity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllFormatExceptZoneAndHo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="StatusChangedFromDraftOrSubmitOrganizationDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PromotionInitiateServiceService">
<port name="PromotionInitiateServicePort" binding="tns:PromotionInitiateServicePortBinding">
<soap:address location="http://10.0.7.111:18080/PromotionInitiateServiceService/PromotionInitiateService" />
</port>
</service>
</definitions>