UATClient/xml-resources/web-service-references/CategoryMCHService/wsdl/10.0.7.111_18080/CategoryMCHServiceService/CategoryMCHService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.master.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.master.promo.fks.com/" name="CategoryMCHServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.master.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/CategoryMCHServiceService/CategoryMCHService?xsd=1" />
</xsd:schema>
</types>
<message name="getCategoryList">
<part name="parameters" element="tns:getCategoryList" />
</message>
<message name="getCategoryListResponse">
<part name="parameters" element="tns:getCategoryListResponse" />
</message>
<message name="getUserSubcategoryList">
<part name="parameters" element="tns:getUserSubcategoryList" />
</message>
<message name="getUserSubcategoryListResponse">
<part name="parameters" element="tns:getUserSubcategoryListResponse" />
</message>
<message name="getAllCategoryMCHdtl">
<part name="parameters" element="tns:getAllCategoryMCHdtl" />
</message>
<message name="getAllCategoryMCHdtlResponse">
<part name="parameters" element="tns:getAllCategoryMCHdtlResponse" />
</message>
<message name="blockUnblockMCH">
<part name="parameters" element="tns:blockUnblockMCH" />
</message>
<message name="blockUnblockMCHResponse">
<part name="parameters" element="tns:blockUnblockMCHResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="submitCategoryMCHDetails">
<part name="parameters" element="tns:submitCategoryMCHDetails" />
</message>
<message name="submitCategoryMCHDetailsResponse">
<part name="parameters" element="tns:submitCategoryMCHDetailsResponse" />
</message>
<message name="submitWorkFlowDetail">
<part name="parameters" element="tns:submitWorkFlowDetail" />
</message>
<message name="submitWorkFlowDetailResponse">
<part name="parameters" element="tns:submitWorkFlowDetailResponse" />
</message>
<message name="getCategorySubCategoryDtl">
<part name="parameters" element="tns:getCategorySubCategoryDtl" />
</message>
<message name="getCategorySubCategoryDtlResponse">
<part name="parameters" element="tns:getCategorySubCategoryDtlResponse" />
</message>
<message name="getCategoryDtl">
<part name="parameters" element="tns:getCategoryDtl" />
</message>
<message name="getCategoryDtlResponse">
<part name="parameters" element="tns:getCategoryDtlResponse" />
</message>
<message name="getSubCategoryDtl">
<part name="parameters" element="tns:getSubCategoryDtl" />
</message>
<message name="getSubCategoryDtlResponse">
<part name="parameters" element="tns:getSubCategoryDtlResponse" />
</message>
<message name="getSubCategoryBycategory">
<part name="parameters" element="tns:getSubCategoryBycategory" />
</message>
<message name="getSubCategoryBycategoryResponse">
<part name="parameters" element="tns:getSubCategoryBycategoryResponse" />
</message>
<message name="getUserMCHDtlExcel">
<part name="parameters" element="tns:getUserMCHDtlExcel" />
</message>
<message name="getUserMCHDtlExcelResponse">
<part name="parameters" element="tns:getUserMCHDtlExcelResponse" />
</message>
<portType name="CategoryMCHService">
<operation name="getCategoryList">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategoryListRequest" message="tns:getCategoryList" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategoryListResponse" message="tns:getCategoryListResponse" />
</operation>
<operation name="getUserSubcategoryList">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getUserSubcategoryListRequest" message="tns:getUserSubcategoryList" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getUserSubcategoryListResponse" message="tns:getUserSubcategoryListResponse" />
</operation>
<operation name="getAllCategoryMCHdtl">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getAllCategoryMCHdtlRequest" message="tns:getAllCategoryMCHdtl" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getAllCategoryMCHdtlResponse" message="tns:getAllCategoryMCHdtlResponse" />
</operation>
<operation name="blockUnblockMCH">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/blockUnblockMCHRequest" message="tns:blockUnblockMCH" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/blockUnblockMCHResponse" message="tns:blockUnblockMCHResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/blockUnblockMCH/Fault/Exception" />
</operation>
<operation name="submitCategoryMCHDetails">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/submitCategoryMCHDetailsRequest" message="tns:submitCategoryMCHDetails" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/submitCategoryMCHDetailsResponse" message="tns:submitCategoryMCHDetailsResponse" />
</operation>
<operation name="submitWorkFlowDetail">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/submitWorkFlowDetailRequest" message="tns:submitWorkFlowDetail" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/submitWorkFlowDetailResponse" message="tns:submitWorkFlowDetailResponse" />
</operation>
<operation name="getCategorySubCategoryDtl">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategorySubCategoryDtlRequest" message="tns:getCategorySubCategoryDtl" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategorySubCategoryDtlResponse" message="tns:getCategorySubCategoryDtlResponse" />
</operation>
<operation name="getCategoryDtl">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategoryDtlRequest" message="tns:getCategoryDtl" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getCategoryDtlResponse" message="tns:getCategoryDtlResponse" />
</operation>
<operation name="getSubCategoryDtl">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getSubCategoryDtlRequest" message="tns:getSubCategoryDtl" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getSubCategoryDtlResponse" message="tns:getSubCategoryDtlResponse" />
</operation>
<operation name="getSubCategoryBycategory">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getSubCategoryBycategoryRequest" message="tns:getSubCategoryBycategory" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getSubCategoryBycategoryResponse" message="tns:getSubCategoryBycategoryResponse" />
</operation>
<operation name="getUserMCHDtlExcel">
<input wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getUserMCHDtlExcelRequest" message="tns:getUserMCHDtlExcel" />
<output wsam:Action="http://service.master.promo.fks.com/CategoryMCHService/getUserMCHDtlExcelResponse" message="tns:getUserMCHDtlExcelResponse" />
</operation>
</portType>
<binding name="CategoryMCHServicePortBinding" type="tns:CategoryMCHService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getCategoryList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserSubcategoryList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCategoryMCHdtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="blockUnblockMCH">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="submitCategoryMCHDetails">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitWorkFlowDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategorySubCategoryDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategoryDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubCategoryDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getSubCategoryBycategory">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserMCHDtlExcel">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CategoryMCHServiceService">
<port name="CategoryMCHServicePort" binding="tns:CategoryMCHServicePortBinding">
<soap:address location="http://10.0.7.111:18080/CategoryMCHServiceService/CategoryMCHService" />
</port>
</service>
</definitions>