UATClient/src/META-INF/wsdl/10.0.7.111_18080/TransPromoServiceService/TransPromoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://init.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://init.promo.fks.com/" name="TransPromoServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://init.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/TransPromoServiceService/TransPromoService?xsd=1" />
</xsd:schema>
</types>
<message name="updateTransPromo">
<part name="parameters" element="tns:updateTransPromo" />
</message>
<message name="updateTransPromoResponse">
<part name="parameters" element="tns:updateTransPromoResponse" />
</message>
<message name="searchPromotion">
<part name="parameters" element="tns:searchPromotion" />
</message>
<message name="searchPromotionResponse">
<part name="parameters" element="tns:searchPromotionResponse" />
</message>
<message name="searchPromotionByTransReqId">
<part name="parameters" element="tns:searchPromotionByTransReqId" />
</message>
<message name="searchPromotionByTransReqIdResponse">
<part name="parameters" element="tns:searchPromotionByTransReqIdResponse" />
</message>
<message name="downloadSubPromoDtl">
<part name="parameters" element="tns:downloadSubPromoDtl" />
</message>
<message name="downloadSubPromoDtlResponse">
<part name="parameters" element="tns:downloadSubPromoDtlResponse" />
</message>
<message name="getallTransPromoforApproval">
<part name="parameters" element="tns:getallTransPromoforApproval" />
</message>
<message name="getallTransPromoforApprovalResponse">
<part name="parameters" element="tns:getallTransPromoforApprovalResponse" />
</message>
<message name="getallTransPromoforApprovalforLevel2">
<part name="parameters" element="tns:getallTransPromoforApprovalforLevel2" />
</message>
<message name="getallTransPromoforApprovalforLevel2Response">
<part name="parameters" element="tns:getallTransPromoforApprovalforLevel2Response" />
</message>
<message name="getallTransPromoforApprovalBusinessEzigency">
<part name="parameters" element="tns:getallTransPromoforApprovalBusinessEzigency" />
</message>
<message name="getallTransPromoforApprovalBusinessEzigencyResponse">
<part name="parameters" element="tns:getallTransPromoforApprovalBusinessEzigencyResponse" />
</message>
<message name="getExecutePromoDashBoardDtl">
<part name="parameters" element="tns:getExecutePromoDashBoardDtl" />
</message>
<message name="getExecutePromoDashBoardDtlResponse">
<part name="parameters" element="tns:getExecutePromoDashBoardDtlResponse" />
</message>
<message name="createTransPromo">
<part name="parameters" element="tns:createTransPromo" />
</message>
<message name="createTransPromoResponse">
<part name="parameters" element="tns:createTransPromoResponse" />
</message>
<message name="createTransPromoWithFile">
<part name="parameters" element="tns:createTransPromoWithFile" />
</message>
<message name="createTransPromoWithFileResponse">
<part name="parameters" element="tns:createTransPromoWithFileResponse" />
</message>
<message name="createCopyOFTransPromo">
<part name="parameters" element="tns:createCopyOFTransPromo" />
</message>
<message name="createCopyOFTransPromoResponse">
<part name="parameters" element="tns:createCopyOFTransPromoResponse" />
</message>
<message name="updateTransPromoForFileUpload">
<part name="parameters" element="tns:updateTransPromoForFileUpload" />
</message>
<message name="updateTransPromoForFileUploadResponse">
<part name="parameters" element="tns:updateTransPromoForFileUploadResponse" />
</message>
<message name="downloadSubPromoRequest">
<part name="parameters" element="tns:downloadSubPromoRequest" />
</message>
<message name="downloadSubPromoRequestResponse">
<part name="parameters" element="tns:downloadSubPromoRequestResponse" />
</message>
<message name="createTransPromoForFileUpload">
<part name="parameters" element="tns:createTransPromoForFileUpload" />
</message>
<message name="createTransPromoForFileUploadResponse">
<part name="parameters" element="tns:createTransPromoForFileUploadResponse" />
</message>
<message name="submitMultipleTransPromoFileUpload">
<part name="parameters" element="tns:submitMultipleTransPromoFileUpload" />
</message>
<message name="submitMultipleTransPromoFileUploadResponse">
<part name="parameters" element="tns:submitMultipleTransPromoFileUploadResponse" />
</message>
<message name="createTransPromoList">
<part name="parameters" element="tns:createTransPromoList" />
</message>
<message name="createTransPromoListResponse">
<part name="parameters" element="tns:createTransPromoListResponse" />
</message>
<message name="updateMasterPromoStatus">
<part name="parameters" element="tns:updateMasterPromoStatus" />
</message>
<message name="updateMasterPromoStatusResponse">
<part name="parameters" element="tns:updateMasterPromoStatusResponse" />
</message>
<portType name="TransPromoService">
<operation name="updateTransPromo">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/updateTransPromoRequest" message="tns:updateTransPromo" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/updateTransPromoResponse" message="tns:updateTransPromoResponse" />
</operation>
<operation name="searchPromotion">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/searchPromotionRequest" message="tns:searchPromotion" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/searchPromotionResponse" message="tns:searchPromotionResponse" />
</operation>
<operation name="searchPromotionByTransReqId">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/searchPromotionByTransReqIdRequest" message="tns:searchPromotionByTransReqId" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/searchPromotionByTransReqIdResponse" message="tns:searchPromotionByTransReqIdResponse" />
</operation>
<operation name="downloadSubPromoDtl">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/downloadSubPromoDtlRequest" message="tns:downloadSubPromoDtl" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/downloadSubPromoDtlResponse" message="tns:downloadSubPromoDtlResponse" />
</operation>
<operation name="getallTransPromoforApproval">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalRequest" message="tns:getallTransPromoforApproval" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalResponse" message="tns:getallTransPromoforApprovalResponse" />
</operation>
<operation name="getallTransPromoforApprovalforLevel2">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalforLevel2Request" message="tns:getallTransPromoforApprovalforLevel2" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalforLevel2Response" message="tns:getallTransPromoforApprovalforLevel2Response" />
</operation>
<operation name="getallTransPromoforApprovalBusinessEzigency">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalBusinessEzigencyRequest" message="tns:getallTransPromoforApprovalBusinessEzigency" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/getallTransPromoforApprovalBusinessEzigencyResponse" message="tns:getallTransPromoforApprovalBusinessEzigencyResponse" />
</operation>
<operation name="getExecutePromoDashBoardDtl">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/getExecutePromoDashBoardDtlRequest" message="tns:getExecutePromoDashBoardDtl" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/getExecutePromoDashBoardDtlResponse" message="tns:getExecutePromoDashBoardDtlResponse" />
</operation>
<operation name="createTransPromo">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoRequest" message="tns:createTransPromo" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoResponse" message="tns:createTransPromoResponse" />
</operation>
<operation name="createTransPromoWithFile">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoWithFileRequest" message="tns:createTransPromoWithFile" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoWithFileResponse" message="tns:createTransPromoWithFileResponse" />
</operation>
<operation name="createCopyOFTransPromo">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/createCopyOFTransPromoRequest" message="tns:createCopyOFTransPromo" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/createCopyOFTransPromoResponse" message="tns:createCopyOFTransPromoResponse" />
</operation>
<operation name="updateTransPromoForFileUpload">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/updateTransPromoForFileUploadRequest" message="tns:updateTransPromoForFileUpload" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/updateTransPromoForFileUploadResponse" message="tns:updateTransPromoForFileUploadResponse" />
</operation>
<operation name="downloadSubPromoRequest">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/downloadSubPromoRequestRequest" message="tns:downloadSubPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/downloadSubPromoRequestResponse" message="tns:downloadSubPromoRequestResponse" />
</operation>
<operation name="createTransPromoForFileUpload">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoForFileUploadRequest" message="tns:createTransPromoForFileUpload" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoForFileUploadResponse" message="tns:createTransPromoForFileUploadResponse" />
</operation>
<operation name="submitMultipleTransPromoFileUpload">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/submitMultipleTransPromoFileUploadRequest" message="tns:submitMultipleTransPromoFileUpload" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/submitMultipleTransPromoFileUploadResponse" message="tns:submitMultipleTransPromoFileUploadResponse" />
</operation>
<operation name="createTransPromoList">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoListRequest" message="tns:createTransPromoList" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/createTransPromoListResponse" message="tns:createTransPromoListResponse" />
</operation>
<operation name="updateMasterPromoStatus">
<input wsam:Action="http://init.promo.fks.com/TransPromoService/updateMasterPromoStatusRequest" message="tns:updateMasterPromoStatus" />
<output wsam:Action="http://init.promo.fks.com/TransPromoService/updateMasterPromoStatusResponse" message="tns:updateMasterPromoStatusResponse" />
</operation>
</portType>
<binding name="TransPromoServicePortBinding" type="tns:TransPromoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="updateTransPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPromotion">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchPromotionByTransReqId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadSubPromoDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getallTransPromoforApproval">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getallTransPromoforApprovalforLevel2">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getallTransPromoforApprovalBusinessEzigency">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getExecutePromoDashBoardDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createTransPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createTransPromoWithFile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createCopyOFTransPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateTransPromoForFileUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadSubPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createTransPromoForFileUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitMultipleTransPromoFileUpload">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createTransPromoList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateMasterPromoStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="TransPromoServiceService">
<port name="TransPromoServicePort" binding="tns:TransPromoServicePortBinding">
<soap:address location="http://10.0.7.111:18080/TransPromoServiceService/TransPromoService" />
</port>
</service>
</definitions>