UATClient/src/META-INF/wsdl/10.0.7.111_18080/OrganizationMasterServiceService/OrganizationMasterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.master.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.master.promo.fks.com/" name="OrganizationMasterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.master.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/OrganizationMasterServiceService/OrganizationMasterService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllOrganizationDtl">
<part name="parameters" element="tns:getAllOrganizationDtl" />
</message>
<message name="getAllOrganizationDtlResponse">
<part name="parameters" element="tns:getAllOrganizationDtlResponse" />
</message>
<message name="submitOrganizationDtl">
<part name="parameters" element="tns:submitOrganizationDtl" />
</message>
<message name="submitOrganizationDtlResponse">
<part name="parameters" element="tns:submitOrganizationDtlResponse" />
</message>
<message name="getOrganizationDtlBySiteCode">
<part name="parameters" element="tns:getOrganizationDtlBySiteCode" />
</message>
<message name="getOrganizationDtlBySiteCodeResponse">
<part name="parameters" element="tns:getOrganizationDtlBySiteCodeResponse" />
</message>
<message name="updateStoreDetail">
<part name="parameters" element="tns:updateStoreDetail" />
</message>
<message name="updateStoreDetailResponse">
<part name="parameters" element="tns:updateStoreDetailResponse" />
</message>
<portType name="OrganizationMasterService">
<operation name="getAllOrganizationDtl">
<input wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/getAllOrganizationDtlRequest" message="tns:getAllOrganizationDtl" />
<output wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/getAllOrganizationDtlResponse" message="tns:getAllOrganizationDtlResponse" />
</operation>
<operation name="submitOrganizationDtl">
<input wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/submitOrganizationDtlRequest" message="tns:submitOrganizationDtl" />
<output wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/submitOrganizationDtlResponse" message="tns:submitOrganizationDtlResponse" />
</operation>
<operation name="getOrganizationDtlBySiteCode">
<input wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/getOrganizationDtlBySiteCodeRequest" message="tns:getOrganizationDtlBySiteCode" />
<output wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/getOrganizationDtlBySiteCodeResponse" message="tns:getOrganizationDtlBySiteCodeResponse" />
</operation>
<operation name="updateStoreDetail">
<input wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/updateStoreDetailRequest" message="tns:updateStoreDetail" />
<output wsam:Action="http://service.master.promo.fks.com/OrganizationMasterService/updateStoreDetailResponse" message="tns:updateStoreDetailResponse" />
</operation>
</portType>
<binding name="OrganizationMasterServicePortBinding" type="tns:OrganizationMasterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllOrganizationDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitOrganizationDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrganizationDtlBySiteCode">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStoreDetail">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrganizationMasterServiceService">
<port name="OrganizationMasterServicePort" binding="tns:OrganizationMasterServicePortBinding">
<soap:address location="http://10.0.7.111:18080/OrganizationMasterServiceService/OrganizationMasterService" />
</port>
</service>
</definitions>