UATClient/src/META-INF/wsdl/10.0.7.111_18080/ApprRejHoldPromotionReqServiceService/ApprRejHoldPromotionReqService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.approval.promotion.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.approval.promotion.fks.com/" name="ApprRejHoldPromotionReqServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.approval.promotion.fks.com/" schemaLocation="http://10.0.7.111:18080/ApprRejHoldPromotionReqServiceService/ApprRejHoldPromotionReqService?xsd=1" />
</xsd:schema>
</types>
<message name="createL1ApprRejHoldReqList">
<part name="parameters" element="tns:createL1ApprRejHoldReqList" />
</message>
<message name="createL1ApprRejHoldReqListResponse">
<part name="parameters" element="tns:createL1ApprRejHoldReqListResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="createL1ApprRejHoldReq">
<part name="parameters" element="tns:createL1ApprRejHoldReq" />
</message>
<message name="createL1ApprRejHoldReqResponse">
<part name="parameters" element="tns:createL1ApprRejHoldReqResponse" />
</message>
<message name="createL2ApprRejHoldReqList">
<part name="parameters" element="tns:createL2ApprRejHoldReqList" />
</message>
<message name="createL2ApprRejHoldReqListResponse">
<part name="parameters" element="tns:createL2ApprRejHoldReqListResponse" />
</message>
<message name="createL2ApprRejHoldReq">
<part name="parameters" element="tns:createL2ApprRejHoldReq" />
</message>
<message name="createL2ApprRejHoldReqResponse">
<part name="parameters" element="tns:createL2ApprRejHoldReqResponse" />
</message>
<message name="createBusinessExigencyApprRejHoldReqList">
<part name="parameters" element="tns:createBusinessExigencyApprRejHoldReqList" />
</message>
<message name="createBusinessExigencyApprRejHoldReqListResponse">
<part name="parameters" element="tns:createBusinessExigencyApprRejHoldReqListResponse" />
</message>
<message name="createBusinessExigencyApprRejHoldReq">
<part name="parameters" element="tns:createBusinessExigencyApprRejHoldReq" />
</message>
<message name="createBusinessExigencyApprRejHoldReqResponse">
<part name="parameters" element="tns:createBusinessExigencyApprRejHoldReqResponse" />
</message>
<portType name="ApprRejHoldPromotionReqService">
<operation name="createL1ApprRejHoldReqList">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReqListRequest" message="tns:createL1ApprRejHoldReqList" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReqListResponse" message="tns:createL1ApprRejHoldReqListResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReqList/Fault/Exception" />
</operation>
<operation name="createL1ApprRejHoldReq">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReqRequest" message="tns:createL1ApprRejHoldReq" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReqResponse" message="tns:createL1ApprRejHoldReqResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL1ApprRejHoldReq/Fault/Exception" />
</operation>
<operation name="createL2ApprRejHoldReqList">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReqListRequest" message="tns:createL2ApprRejHoldReqList" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReqListResponse" message="tns:createL2ApprRejHoldReqListResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReqList/Fault/Exception" />
</operation>
<operation name="createL2ApprRejHoldReq">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReqRequest" message="tns:createL2ApprRejHoldReq" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReqResponse" message="tns:createL2ApprRejHoldReqResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createL2ApprRejHoldReq/Fault/Exception" />
</operation>
<operation name="createBusinessExigencyApprRejHoldReqList">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReqListRequest" message="tns:createBusinessExigencyApprRejHoldReqList" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReqListResponse" message="tns:createBusinessExigencyApprRejHoldReqListResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReqList/Fault/Exception" />
</operation>
<operation name="createBusinessExigencyApprRejHoldReq">
<input wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReqRequest" message="tns:createBusinessExigencyApprRejHoldReq" />
<output wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReqResponse" message="tns:createBusinessExigencyApprRejHoldReqResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://service.approval.promotion.fks.com/ApprRejHoldPromotionReqService/createBusinessExigencyApprRejHoldReq/Fault/Exception" />
</operation>
</portType>
<binding name="ApprRejHoldPromotionReqServicePortBinding" type="tns:ApprRejHoldPromotionReqService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="createL1ApprRejHoldReqList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createL1ApprRejHoldReq">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createL2ApprRejHoldReqList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createL2ApprRejHoldReq">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createBusinessExigencyApprRejHoldReqList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="createBusinessExigencyApprRejHoldReq">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
</binding>
<service name="ApprRejHoldPromotionReqServiceService">
<port name="ApprRejHoldPromotionReqServicePort" binding="tns:ApprRejHoldPromotionReqServicePortBinding">
<soap:address location="http://10.0.7.111:18080/ApprRejHoldPromotionReqServiceService/ApprRejHoldPromotionReqService" />
</port>
</service>
</definitions>