UATClient/src/META-INF/wsdl/10.0.7.111_18080/OtherMasterServiceService/OtherMasterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.master.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.master.promo.fks.com/" name="OtherMasterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.master.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/OtherMasterServiceService/OtherMasterService?xsd=1" />
</xsd:schema>
</types>
<message name="check">
<part name="parameters" element="tns:check" />
</message>
<message name="checkResponse">
<part name="parameters" element="tns:checkResponse" />
</message>
<message name="getMstLeadTime">
<part name="parameters" element="tns:getMstLeadTime" />
</message>
<message name="getMstLeadTimeResponse">
<part name="parameters" element="tns:getMstLeadTimeResponse" />
</message>
<message name="getALLStatus">
<part name="parameters" element="tns:getALLStatus" />
</message>
<message name="getALLStatusResponse">
<part name="parameters" element="tns:getALLStatusResponse" />
</message>
<message name="getAllSet">
<part name="parameters" element="tns:getAllSet" />
</message>
<message name="getAllSetResponse">
<part name="parameters" element="tns:getAllSetResponse" />
</message>
<message name="getAllMarketingType">
<part name="parameters" element="tns:getAllMarketingType" />
</message>
<message name="getAllMarketingTypeResponse">
<part name="parameters" element="tns:getAllMarketingTypeResponse" />
</message>
<message name="getAllCampaign">
<part name="parameters" element="tns:getAllCampaign" />
</message>
<message name="getAllCampaignResponse">
<part name="parameters" element="tns:getAllCampaignResponse" />
</message>
<message name="createCampaign">
<part name="parameters" element="tns:createCampaign" />
</message>
<message name="createCampaignResponse">
<part name="parameters" element="tns:createCampaignResponse" />
</message>
<message name="createDepartment">
<part name="parameters" element="tns:createDepartment" />
</message>
<message name="createDepartmentResponse">
<part name="parameters" element="tns:createDepartmentResponse" />
</message>
<message name="createMartingType">
<part name="parameters" element="tns:createMartingType" />
</message>
<message name="createMartingTypeResponse">
<part name="parameters" element="tns:createMartingTypeResponse" />
</message>
<message name="getAllReasonForRejection">
<part name="parameters" element="tns:getAllReasonForRejection" />
</message>
<message name="getAllReasonForRejectionResponse">
<part name="parameters" element="tns:getAllReasonForRejectionResponse" />
</message>
<message name="createReasonForRejection">
<part name="parameters" element="tns:createReasonForRejection" />
</message>
<message name="createReasonForRejectionResponse">
<part name="parameters" element="tns:createReasonForRejectionResponse" />
</message>
<message name="getAllProblemMaster">
<part name="parameters" element="tns:getAllProblemMaster" />
</message>
<message name="getAllProblemMasterResponse">
<part name="parameters" element="tns:getAllProblemMasterResponse" />
</message>
<message name="createProblem">
<part name="parameters" element="tns:createProblem" />
</message>
<message name="createProblemResponse">
<part name="parameters" element="tns:createProblemResponse" />
</message>
<message name="getAllPromotionMaster">
<part name="parameters" element="tns:getAllPromotionMaster" />
</message>
<message name="getAllPromotionMasterResponse">
<part name="parameters" element="tns:getAllPromotionMasterResponse" />
</message>
<message name="createPromotionType">
<part name="parameters" element="tns:createPromotionType" />
</message>
<message name="createPromotionTypeResponse">
<part name="parameters" element="tns:createPromotionTypeResponse" />
</message>
<message name="getAllTaskMaster">
<part name="parameters" element="tns:getAllTaskMaster" />
</message>
<message name="getAllTaskMasterResponse">
<part name="parameters" element="tns:getAllTaskMasterResponse" />
</message>
<message name="createTaskMaster">
<part name="parameters" element="tns:createTaskMaster" />
</message>
<message name="createTaskMasterResponse">
<part name="parameters" element="tns:createTaskMasterResponse" />
</message>
<message name="getAllEventMaster">
<part name="parameters" element="tns:getAllEventMaster" />
</message>
<message name="getAllEventMasterResponse">
<part name="parameters" element="tns:getAllEventMasterResponse" />
</message>
<message name="createEventMaster">
<part name="parameters" element="tns:createEventMaster" />
</message>
<message name="createEventMasterResponse">
<part name="parameters" element="tns:createEventMasterResponse" />
</message>
<message name="getAllLeadTimeStatus">
<part name="parameters" element="tns:getAllLeadTimeStatus" />
</message>
<message name="getAllLeadTimeStatusResponse">
<part name="parameters" element="tns:getAllLeadTimeStatusResponse" />
</message>
<message name="updateStatus">
<part name="parameters" element="tns:updateStatus" />
</message>
<message name="updateStatusResponse">
<part name="parameters" element="tns:updateStatusResponse" />
</message>
<message name="updateMstLeadTime">
<part name="parameters" element="tns:updateMstLeadTime" />
</message>
<message name="updateMstLeadTimeResponse">
<part name="parameters" element="tns:updateMstLeadTimeResponse" />
</message>
<message name="getAllDepartments">
<part name="parameters" element="tns:getAllDepartments" />
</message>
<message name="getAllDepartmentsResponse">
<part name="parameters" element="tns:getAllDepartmentsResponse" />
</message>
<message name="getUserDepartments">
<part name="parameters" element="tns:getUserDepartments" />
</message>
<message name="getUserDepartmentsResponse">
<part name="parameters" element="tns:getUserDepartmentsResponse" />
</message>
<message name="getAllZone">
<part name="parameters" element="tns:getAllZone" />
</message>
<message name="getAllZoneResponse">
<part name="parameters" element="tns:getAllZoneResponse" />
</message>
<message name="createZoneMaster">
<part name="parameters" element="tns:createZoneMaster" />
</message>
<message name="createZoneMasterResponse">
<part name="parameters" element="tns:createZoneMasterResponse" />
</message>
<message name="getAllCalendar">
<part name="parameters" element="tns:getAllCalendar" />
</message>
<message name="getAllCalendarResponse">
<part name="parameters" element="tns:getAllCalendarResponse" />
</message>
<message name="insertCalendar">
<part name="parameters" element="tns:insertCalendar" />
</message>
<message name="insertCalendarResponse">
<part name="parameters" element="tns:insertCalendarResponse" />
</message>
<message name="getDateFromStr">
<part name="parameters" element="tns:getDateFromStr" />
</message>
<message name="getDateFromStrResponse">
<part name="parameters" element="tns:getDateFromStrResponse" />
</message>
<message name="getAllCalendarByYearMonth">
<part name="parameters" element="tns:getAllCalendarByYearMonth" />
</message>
<message name="getAllCalendarByYearMonthResponse">
<part name="parameters" element="tns:getAllCalendarByYearMonthResponse" />
</message>
<message name="deleteCalanderValue">
<part name="parameters" element="tns:deleteCalanderValue" />
</message>
<message name="deleteCalanderValueResponse">
<part name="parameters" element="tns:deleteCalanderValueResponse" />
</message>
<message name="validateMC">
<part name="parameters" element="tns:validateMC" />
</message>
<message name="validateMCResponse">
<part name="parameters" element="tns:validateMCResponse" />
</message>
<message name="sendArticleMCFileForvalidate">
<part name="parameters" element="tns:sendArticleMCFileForvalidate" />
</message>
<message name="sendArticleMCFileForvalidateResponse">
<part name="parameters" element="tns:sendArticleMCFileForvalidateResponse" />
</message>
<portType name="OtherMasterService">
<operation name="check">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/checkRequest" message="tns:check" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/checkResponse" message="tns:checkResponse" />
</operation>
<operation name="getMstLeadTime">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getMstLeadTimeRequest" message="tns:getMstLeadTime" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getMstLeadTimeResponse" message="tns:getMstLeadTimeResponse" />
</operation>
<operation name="getALLStatus">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getALLStatusRequest" message="tns:getALLStatus" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getALLStatusResponse" message="tns:getALLStatusResponse" />
</operation>
<operation name="getAllSet">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllSetRequest" message="tns:getAllSet" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllSetResponse" message="tns:getAllSetResponse" />
</operation>
<operation name="getAllMarketingType">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllMarketingTypeRequest" message="tns:getAllMarketingType" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllMarketingTypeResponse" message="tns:getAllMarketingTypeResponse" />
</operation>
<operation name="getAllCampaign">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCampaignRequest" message="tns:getAllCampaign" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCampaignResponse" message="tns:getAllCampaignResponse" />
</operation>
<operation name="createCampaign">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createCampaignRequest" message="tns:createCampaign" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createCampaignResponse" message="tns:createCampaignResponse" />
</operation>
<operation name="createDepartment">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createDepartmentRequest" message="tns:createDepartment" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createDepartmentResponse" message="tns:createDepartmentResponse" />
</operation>
<operation name="createMartingType">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createMartingTypeRequest" message="tns:createMartingType" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createMartingTypeResponse" message="tns:createMartingTypeResponse" />
</operation>
<operation name="getAllReasonForRejection">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllReasonForRejectionRequest" message="tns:getAllReasonForRejection" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllReasonForRejectionResponse" message="tns:getAllReasonForRejectionResponse" />
</operation>
<operation name="createReasonForRejection">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createReasonForRejectionRequest" message="tns:createReasonForRejection" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createReasonForRejectionResponse" message="tns:createReasonForRejectionResponse" />
</operation>
<operation name="getAllProblemMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllProblemMasterRequest" message="tns:getAllProblemMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllProblemMasterResponse" message="tns:getAllProblemMasterResponse" />
</operation>
<operation name="createProblem">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createProblemRequest" message="tns:createProblem" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createProblemResponse" message="tns:createProblemResponse" />
</operation>
<operation name="getAllPromotionMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllPromotionMasterRequest" message="tns:getAllPromotionMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllPromotionMasterResponse" message="tns:getAllPromotionMasterResponse" />
</operation>
<operation name="createPromotionType">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createPromotionTypeRequest" message="tns:createPromotionType" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createPromotionTypeResponse" message="tns:createPromotionTypeResponse" />
</operation>
<operation name="getAllTaskMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllTaskMasterRequest" message="tns:getAllTaskMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllTaskMasterResponse" message="tns:getAllTaskMasterResponse" />
</operation>
<operation name="createTaskMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createTaskMasterRequest" message="tns:createTaskMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createTaskMasterResponse" message="tns:createTaskMasterResponse" />
</operation>
<operation name="getAllEventMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllEventMasterRequest" message="tns:getAllEventMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllEventMasterResponse" message="tns:getAllEventMasterResponse" />
</operation>
<operation name="createEventMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createEventMasterRequest" message="tns:createEventMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createEventMasterResponse" message="tns:createEventMasterResponse" />
</operation>
<operation name="getAllLeadTimeStatus">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllLeadTimeStatusRequest" message="tns:getAllLeadTimeStatus" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllLeadTimeStatusResponse" message="tns:getAllLeadTimeStatusResponse" />
</operation>
<operation name="updateStatus">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/updateStatusRequest" message="tns:updateStatus" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/updateStatusResponse" message="tns:updateStatusResponse" />
</operation>
<operation name="updateMstLeadTime">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/updateMstLeadTimeRequest" message="tns:updateMstLeadTime" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/updateMstLeadTimeResponse" message="tns:updateMstLeadTimeResponse" />
</operation>
<operation name="getAllDepartments">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllDepartmentsRequest" message="tns:getAllDepartments" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllDepartmentsResponse" message="tns:getAllDepartmentsResponse" />
</operation>
<operation name="getUserDepartments">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getUserDepartmentsRequest" message="tns:getUserDepartments" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getUserDepartmentsResponse" message="tns:getUserDepartmentsResponse" />
</operation>
<operation name="getAllZone">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllZoneRequest" message="tns:getAllZone" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllZoneResponse" message="tns:getAllZoneResponse" />
</operation>
<operation name="createZoneMaster">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createZoneMasterRequest" message="tns:createZoneMaster" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/createZoneMasterResponse" message="tns:createZoneMasterResponse" />
</operation>
<operation name="getAllCalendar">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCalendarRequest" message="tns:getAllCalendar" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCalendarResponse" message="tns:getAllCalendarResponse" />
</operation>
<operation name="insertCalendar">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/insertCalendarRequest" message="tns:insertCalendar" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/insertCalendarResponse" message="tns:insertCalendarResponse" />
</operation>
<operation name="getDateFromStr">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getDateFromStrRequest" message="tns:getDateFromStr" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getDateFromStrResponse" message="tns:getDateFromStrResponse" />
</operation>
<operation name="getAllCalendarByYearMonth">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCalendarByYearMonthRequest" message="tns:getAllCalendarByYearMonth" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/getAllCalendarByYearMonthResponse" message="tns:getAllCalendarByYearMonthResponse" />
</operation>
<operation name="deleteCalanderValue">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/deleteCalanderValueRequest" message="tns:deleteCalanderValue" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/deleteCalanderValueResponse" message="tns:deleteCalanderValueResponse" />
</operation>
<operation name="validateMC">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/validateMCRequest" message="tns:validateMC" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/validateMCResponse" message="tns:validateMCResponse" />
</operation>
<operation name="sendArticleMCFileForvalidate">
<input wsam:Action="http://service.master.promo.fks.com/OtherMasterService/sendArticleMCFileForvalidateRequest" message="tns:sendArticleMCFileForvalidate" />
<output wsam:Action="http://service.master.promo.fks.com/OtherMasterService/sendArticleMCFileForvalidateResponse" message="tns:sendArticleMCFileForvalidateResponse" />
</operation>
</portType>
<binding name="OtherMasterServicePortBinding" type="tns:OtherMasterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="check">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getMstLeadTime">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getALLStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllSet">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllMarketingType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCampaign">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createCampaign">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createDepartment">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createMartingType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllReasonForRejection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createReasonForRejection">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllProblemMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createProblem">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllPromotionMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createPromotionType">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllTaskMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createTaskMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllEventMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createEventMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllLeadTimeStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateMstLeadTime">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllDepartments">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getUserDepartments">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllZone">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createZoneMaster">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCalendar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="insertCalendar">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDateFromStr">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllCalendarByYearMonth">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deleteCalanderValue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="validateMC">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendArticleMCFileForvalidate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OtherMasterServiceService">
<port name="OtherMasterServicePort" binding="tns:OtherMasterServicePortBinding">
<soap:address location="http://10.0.7.111:18080/OtherMasterServiceService/OtherMasterService" />
</port>
</service>
</definitions>