UATClient/src/META-INF/wsdl/10.0.7.111_18080/CommonPromotionServiceService/CommonPromotionService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://init.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://init.promo.fks.com/" name="CommonPromotionServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://init.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/CommonPromotionServiceService/CommonPromotionService?xsd=1" />
</xsd:schema>
</types>
<message name="assignTeamMember">
<part name="parameters" element="tns:assignTeamMember" />
</message>
<message name="assignTeamMemberResponse">
<part name="parameters" element="tns:assignTeamMemberResponse" />
</message>
<message name="getCategoryListForLevel1Approver">
<part name="parameters" element="tns:getCategoryListForLevel1Approver" />
</message>
<message name="getCategoryListForLevel1ApproverResponse">
<part name="parameters" element="tns:getCategoryListForLevel1ApproverResponse" />
</message>
<message name="getCategoryListForLevel2Approver">
<part name="parameters" element="tns:getCategoryListForLevel2Approver" />
</message>
<message name="getCategoryListForLevel2ApproverResponse">
<part name="parameters" element="tns:getCategoryListForLevel2ApproverResponse" />
</message>
<message name="checkLeadTimeValidation">
<part name="parameters" element="tns:checkLeadTimeValidation" />
</message>
<message name="checkLeadTimeValidationResponse">
<part name="parameters" element="tns:checkLeadTimeValidationResponse" />
</message>
<message name="checkLeadTimeValidity">
<part name="parameters" element="tns:checkLeadTimeValidity" />
</message>
<message name="checkLeadTimeValidityResponse">
<part name="parameters" element="tns:checkLeadTimeValidityResponse" />
</message>
<message name="Exception">
<part name="fault" element="tns:Exception" />
</message>
<message name="getDiffHoursWithHolidays">
<part name="parameters" element="tns:getDiffHoursWithHolidays" />
</message>
<message name="getDiffHoursWithHolidaysResponse">
<part name="parameters" element="tns:getDiffHoursWithHolidaysResponse" />
</message>
<message name="getDiffHoursWithHolidaysForEscalation">
<part name="parameters" element="tns:getDiffHoursWithHolidaysForEscalation" />
</message>
<message name="getDiffHoursWithHolidaysForEscalationResponse">
<part name="parameters" element="tns:getDiffHoursWithHolidaysForEscalationResponse" />
</message>
<message name="escalateL1PendingTransPromoRequest">
<part name="parameters" element="tns:escalateL1PendingTransPromoRequest" />
</message>
<message name="escalateL1PendingTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL1PendingTransPromoRequestResponse" />
</message>
<message name="escalateL1HoldTransPromoRequest">
<part name="parameters" element="tns:escalateL1HoldTransPromoRequest" />
</message>
<message name="escalateL1HoldTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL1HoldTransPromoRequestResponse" />
</message>
<message name="escalateL2PendingTransPromoRequest">
<part name="parameters" element="tns:escalateL2PendingTransPromoRequest" />
</message>
<message name="escalateL2PendingTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL2PendingTransPromoRequestResponse" />
</message>
<message name="escalateL2HoldTransPromoRequest">
<part name="parameters" element="tns:escalateL2HoldTransPromoRequest" />
</message>
<message name="escalateL2HoldTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL2HoldTransPromoRequestResponse" />
</message>
<message name="escalateL5PendingTransPromoRequest">
<part name="parameters" element="tns:escalateL5PendingTransPromoRequest" />
</message>
<message name="escalateL5PendingTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL5PendingTransPromoRequestResponse" />
</message>
<message name="escalateL5HoldTransPromoRequest">
<part name="parameters" element="tns:escalateL5HoldTransPromoRequest" />
</message>
<message name="escalateL5HoldTransPromoRequestResponse">
<part name="parameters" element="tns:escalateL5HoldTransPromoRequestResponse" />
</message>
<message name="searchTeamMember">
<part name="parameters" element="tns:searchTeamMember" />
</message>
<message name="searchTeamMemberResponse">
<part name="parameters" element="tns:searchTeamMemberResponse" />
</message>
<message name="searchL1TeamMemberForL1ByPass">
<part name="parameters" element="tns:searchL1TeamMemberForL1ByPass" />
</message>
<message name="searchL1TeamMemberForL1ByPassResponse">
<part name="parameters" element="tns:searchL1TeamMemberForL1ByPassResponse" />
</message>
<message name="assignTeamMemberList">
<part name="parameters" element="tns:assignTeamMemberList" />
</message>
<message name="assignTeamMemberListResponse">
<part name="parameters" element="tns:assignTeamMemberListResponse" />
</message>
<message name="rejectTransPromo">
<part name="parameters" element="tns:rejectTransPromo" />
</message>
<message name="rejectTransPromoResponse">
<part name="parameters" element="tns:rejectTransPromoResponse" />
</message>
<message name="rejectTransPromoList">
<part name="parameters" element="tns:rejectTransPromoList" />
</message>
<message name="rejectTransPromoListResponse">
<part name="parameters" element="tns:rejectTransPromoListResponse" />
</message>
<message name="archiveProposalOtherFiles">
<part name="parameters" element="tns:archiveProposalOtherFiles" />
</message>
<message name="archiveProposalOtherFilesResponse">
<part name="parameters" element="tns:archiveProposalOtherFilesResponse" />
</message>
<portType name="CommonPromotionService">
<operation name="assignTeamMember">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/assignTeamMemberRequest" message="tns:assignTeamMember" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/assignTeamMemberResponse" message="tns:assignTeamMemberResponse" />
</operation>
<operation name="getCategoryListForLevel1Approver">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/getCategoryListForLevel1ApproverRequest" message="tns:getCategoryListForLevel1Approver" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/getCategoryListForLevel1ApproverResponse" message="tns:getCategoryListForLevel1ApproverResponse" />
</operation>
<operation name="getCategoryListForLevel2Approver">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/getCategoryListForLevel2ApproverRequest" message="tns:getCategoryListForLevel2Approver" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/getCategoryListForLevel2ApproverResponse" message="tns:getCategoryListForLevel2ApproverResponse" />
</operation>
<operation name="checkLeadTimeValidation">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/checkLeadTimeValidationRequest" message="tns:checkLeadTimeValidation" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/checkLeadTimeValidationResponse" message="tns:checkLeadTimeValidationResponse" />
</operation>
<operation name="checkLeadTimeValidity">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/checkLeadTimeValidityRequest" message="tns:checkLeadTimeValidity" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/checkLeadTimeValidityResponse" message="tns:checkLeadTimeValidityResponse" />
<fault message="tns:Exception" name="Exception" wsam:Action="http://init.promo.fks.com/CommonPromotionService/checkLeadTimeValidity/Fault/Exception" />
</operation>
<operation name="getDiffHoursWithHolidays">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/getDiffHoursWithHolidaysRequest" message="tns:getDiffHoursWithHolidays" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/getDiffHoursWithHolidaysResponse" message="tns:getDiffHoursWithHolidaysResponse" />
</operation>
<operation name="getDiffHoursWithHolidaysForEscalation">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/getDiffHoursWithHolidaysForEscalationRequest" message="tns:getDiffHoursWithHolidaysForEscalation" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/getDiffHoursWithHolidaysForEscalationResponse" message="tns:getDiffHoursWithHolidaysForEscalationResponse" />
</operation>
<operation name="escalateL1PendingTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL1PendingTransPromoRequestRequest" message="tns:escalateL1PendingTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL1PendingTransPromoRequestResponse" message="tns:escalateL1PendingTransPromoRequestResponse" />
</operation>
<operation name="escalateL1HoldTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL1HoldTransPromoRequestRequest" message="tns:escalateL1HoldTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL1HoldTransPromoRequestResponse" message="tns:escalateL1HoldTransPromoRequestResponse" />
</operation>
<operation name="escalateL2PendingTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL2PendingTransPromoRequestRequest" message="tns:escalateL2PendingTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL2PendingTransPromoRequestResponse" message="tns:escalateL2PendingTransPromoRequestResponse" />
</operation>
<operation name="escalateL2HoldTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL2HoldTransPromoRequestRequest" message="tns:escalateL2HoldTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL2HoldTransPromoRequestResponse" message="tns:escalateL2HoldTransPromoRequestResponse" />
</operation>
<operation name="escalateL5PendingTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL5PendingTransPromoRequestRequest" message="tns:escalateL5PendingTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL5PendingTransPromoRequestResponse" message="tns:escalateL5PendingTransPromoRequestResponse" />
</operation>
<operation name="escalateL5HoldTransPromoRequest">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL5HoldTransPromoRequestRequest" message="tns:escalateL5HoldTransPromoRequest" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/escalateL5HoldTransPromoRequestResponse" message="tns:escalateL5HoldTransPromoRequestResponse" />
</operation>
<operation name="searchTeamMember">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/searchTeamMemberRequest" message="tns:searchTeamMember" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/searchTeamMemberResponse" message="tns:searchTeamMemberResponse" />
</operation>
<operation name="searchL1TeamMemberForL1ByPass">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/searchL1TeamMemberForL1ByPassRequest" message="tns:searchL1TeamMemberForL1ByPass" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/searchL1TeamMemberForL1ByPassResponse" message="tns:searchL1TeamMemberForL1ByPassResponse" />
</operation>
<operation name="assignTeamMemberList">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/assignTeamMemberListRequest" message="tns:assignTeamMemberList" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/assignTeamMemberListResponse" message="tns:assignTeamMemberListResponse" />
</operation>
<operation name="rejectTransPromo">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/rejectTransPromoRequest" message="tns:rejectTransPromo" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/rejectTransPromoResponse" message="tns:rejectTransPromoResponse" />
</operation>
<operation name="rejectTransPromoList">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/rejectTransPromoListRequest" message="tns:rejectTransPromoList" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/rejectTransPromoListResponse" message="tns:rejectTransPromoListResponse" />
</operation>
<operation name="archiveProposalOtherFiles">
<input wsam:Action="http://init.promo.fks.com/CommonPromotionService/archiveProposalOtherFilesRequest" message="tns:archiveProposalOtherFiles" />
<output wsam:Action="http://init.promo.fks.com/CommonPromotionService/archiveProposalOtherFilesResponse" message="tns:archiveProposalOtherFilesResponse" />
</operation>
</portType>
<binding name="CommonPromotionServicePortBinding" type="tns:CommonPromotionService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="assignTeamMember">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategoryListForLevel1Approver">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getCategoryListForLevel2Approver">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkLeadTimeValidation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="checkLeadTimeValidity">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal" />
</fault>
</operation>
<operation name="getDiffHoursWithHolidays">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getDiffHoursWithHolidaysForEscalation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL1PendingTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL1HoldTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL2PendingTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL2HoldTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL5PendingTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="escalateL5HoldTransPromoRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchTeamMember">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchL1TeamMemberForL1ByPass">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="assignTeamMemberList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rejectTransPromo">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rejectTransPromoList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="archiveProposalOtherFiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CommonPromotionServiceService">
<port name="CommonPromotionServicePort" binding="tns:CommonPromotionServicePortBinding">
<soap:address location="http://10.0.7.111:18080/CommonPromotionServiceService/CommonPromotionService" />
</port>
</service>
</definitions>