UATClient/xml-resources/web-service-references/ODSService/wsdl/10.0.7.111_18080/ODSServiceService/ODSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.ods.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.ods.fks.com/" name="ODSServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.ods.fks.com/" schemaLocation="http://10.0.7.111:18080/ODSServiceService/ODSService?xsd=1" />
</xsd:schema>
</types>
<message name="searchArticledtl">
<part name="parameters" element="tns:searchArticledtl" />
</message>
<message name="searchArticledtlResponse">
<part name="parameters" element="tns:searchArticledtlResponse" />
</message>
<message name="sendArticleMCFileForvalidate">
<part name="parameters" element="tns:sendArticleMCFileForvalidate" />
</message>
<message name="sendArticleMCFileForvalidateResponse">
<part name="parameters" element="tns:sendArticleMCFileForvalidateResponse" />
</message>
<message name="searchODSArticle">
<part name="parameters" element="tns:searchODSArticle" />
</message>
<message name="searchODSArticleResponse">
<part name="parameters" element="tns:searchODSArticleResponse" />
</message>
<portType name="ODSService">
<operation name="searchArticledtl">
<input wsam:Action="http://service.ods.fks.com/ODSService/searchArticledtlRequest" message="tns:searchArticledtl" />
<output wsam:Action="http://service.ods.fks.com/ODSService/searchArticledtlResponse" message="tns:searchArticledtlResponse" />
</operation>
<operation name="sendArticleMCFileForvalidate">
<input wsam:Action="http://service.ods.fks.com/ODSService/sendArticleMCFileForvalidateRequest" message="tns:sendArticleMCFileForvalidate" />
<output wsam:Action="http://service.ods.fks.com/ODSService/sendArticleMCFileForvalidateResponse" message="tns:sendArticleMCFileForvalidateResponse" />
</operation>
<operation name="searchODSArticle">
<input wsam:Action="http://service.ods.fks.com/ODSService/searchODSArticleRequest" message="tns:searchODSArticle" />
<output wsam:Action="http://service.ods.fks.com/ODSService/searchODSArticleResponse" message="tns:searchODSArticleResponse" />
</operation>
</portType>
<binding name="ODSServicePortBinding" type="tns:ODSService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="searchArticledtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendArticleMCFileForvalidate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="searchODSArticle">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ODSServiceService">
<port name="ODSServicePort" binding="tns:ODSServicePortBinding">
<soap:address location="http://10.0.7.111:18080/ODSServiceService/ODSService" />
</port>
</service>
</definitions>