UATClient/xml-resources/web-service-references/ReportService/wsdl/10.0.7.111_18080/ReportServiceService/ReportService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.reports.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.reports.fks.com/" name="ReportServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.reports.fks.com/" schemaLocation="http://10.0.7.111:18080/ReportServiceService/ReportService?xsd=1" />
</xsd:schema>
</types>
<message name="storeProposalPendingAutomatedReport">
<part name="parameters" element="tns:storeProposalPendingAutomatedReport" />
</message>
<message name="storeProposalPendingAutomatedReportResponse">
<part name="parameters" element="tns:storeProposalPendingAutomatedReportResponse" />
</message>
<message name="submitReportRequest">
<part name="parameters" element="tns:submitReportRequest" />
</message>
<message name="submitReportRequestResponse">
<part name="parameters" element="tns:submitReportRequestResponse" />
</message>
<message name="getAllReportsRequestList">
<part name="parameters" element="tns:getAllReportsRequestList" />
</message>
<message name="getAllReportsRequestListResponse">
<part name="parameters" element="tns:getAllReportsRequestListResponse" />
</message>
<message name="getAllEmailIdsForStorePendingUserMapping">
<part name="parameters" element="tns:getAllEmailIdsForStorePendingUserMapping" />
</message>
<message name="getAllEmailIdsForStorePendingUserMappingResponse">
<part name="parameters" element="tns:getAllEmailIdsForStorePendingUserMappingResponse" />
</message>
<message name="submitStoreUserMappingForPendingReport">
<part name="parameters" element="tns:submitStoreUserMappingForPendingReport" />
</message>
<message name="submitStoreUserMappingForPendingReportResponse">
<part name="parameters" element="tns:submitStoreUserMappingForPendingReportResponse" />
</message>
<message name="deletePendingStoreProposalEmailID">
<part name="parameters" element="tns:deletePendingStoreProposalEmailID" />
</message>
<message name="deletePendingStoreProposalEmailIDResponse">
<part name="parameters" element="tns:deletePendingStoreProposalEmailIDResponse" />
</message>
<portType name="ReportService">
<operation name="storeProposalPendingAutomatedReport">
<input wsam:Action="http://service.reports.fks.com/ReportService/storeProposalPendingAutomatedReportRequest" message="tns:storeProposalPendingAutomatedReport" />
<output wsam:Action="http://service.reports.fks.com/ReportService/storeProposalPendingAutomatedReportResponse" message="tns:storeProposalPendingAutomatedReportResponse" />
</operation>
<operation name="submitReportRequest">
<input wsam:Action="http://service.reports.fks.com/ReportService/submitReportRequestRequest" message="tns:submitReportRequest" />
<output wsam:Action="http://service.reports.fks.com/ReportService/submitReportRequestResponse" message="tns:submitReportRequestResponse" />
</operation>
<operation name="getAllReportsRequestList">
<input wsam:Action="http://service.reports.fks.com/ReportService/getAllReportsRequestListRequest" message="tns:getAllReportsRequestList" />
<output wsam:Action="http://service.reports.fks.com/ReportService/getAllReportsRequestListResponse" message="tns:getAllReportsRequestListResponse" />
</operation>
<operation name="getAllEmailIdsForStorePendingUserMapping">
<input wsam:Action="http://service.reports.fks.com/ReportService/getAllEmailIdsForStorePendingUserMappingRequest" message="tns:getAllEmailIdsForStorePendingUserMapping" />
<output wsam:Action="http://service.reports.fks.com/ReportService/getAllEmailIdsForStorePendingUserMappingResponse" message="tns:getAllEmailIdsForStorePendingUserMappingResponse" />
</operation>
<operation name="submitStoreUserMappingForPendingReport">
<input wsam:Action="http://service.reports.fks.com/ReportService/submitStoreUserMappingForPendingReportRequest" message="tns:submitStoreUserMappingForPendingReport" />
<output wsam:Action="http://service.reports.fks.com/ReportService/submitStoreUserMappingForPendingReportResponse" message="tns:submitStoreUserMappingForPendingReportResponse" />
</operation>
<operation name="deletePendingStoreProposalEmailID">
<input wsam:Action="http://service.reports.fks.com/ReportService/deletePendingStoreProposalEmailIDRequest" message="tns:deletePendingStoreProposalEmailID" />
<output wsam:Action="http://service.reports.fks.com/ReportService/deletePendingStoreProposalEmailIDResponse" message="tns:deletePendingStoreProposalEmailIDResponse" />
</operation>
</portType>
<binding name="ReportServicePortBinding" type="tns:ReportService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="storeProposalPendingAutomatedReport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitReportRequest">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllReportsRequestList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllEmailIdsForStorePendingUserMapping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitStoreUserMappingForPendingReport">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="deletePendingStoreProposalEmailID">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ReportServiceService">
<port name="ReportServicePort" binding="tns:ReportServicePortBinding">
<soap:address location="http://10.0.7.111:18080/ReportServiceService/ReportService" />
</port>
</service>
</definitions>