UATClient/xml-resources/web-service-references/RoleMasterService/wsdl/10.0.7.111_18080/RoleMasterServiceService/RoleMasterService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.master.promo.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.master.promo.fks.com/" name="RoleMasterServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.master.promo.fks.com/" schemaLocation="http://10.0.7.111:18080/RoleMasterServiceService/RoleMasterService?xsd=1" />
</xsd:schema>
</types>
<message name="getAllRoles">
<part name="parameters" element="tns:getAllRoles" />
</message>
<message name="getAllRolesResponse">
<part name="parameters" element="tns:getAllRolesResponse" />
</message>
<message name="createUpdateRole">
<part name="parameters" element="tns:createUpdateRole" />
</message>
<message name="createUpdateRoleResponse">
<part name="parameters" element="tns:createUpdateRoleResponse" />
</message>
<message name="getAllLocation">
<part name="parameters" element="tns:getAllLocation" />
</message>
<message name="getAllLocationResponse">
<part name="parameters" element="tns:getAllLocationResponse" />
</message>
<message name="getAllProfiles">
<part name="parameters" element="tns:getAllProfiles" />
</message>
<message name="getAllProfilesResponse">
<part name="parameters" element="tns:getAllProfilesResponse" />
</message>
<message name="SubmitRoleProfileMapping">
<part name="parameters" element="tns:SubmitRoleProfileMapping" />
</message>
<message name="SubmitRoleProfileMappingResponse">
<part name="parameters" element="tns:SubmitRoleProfileMappingResponse" />
</message>
<message name="getRoleWiseLocationandProfile">
<part name="parameters" element="tns:getRoleWiseLocationandProfile" />
</message>
<message name="getRoleWiseLocationandProfileResponse">
<part name="parameters" element="tns:getRoleWiseLocationandProfileResponse" />
</message>
<message name="getAllModule">
<part name="parameters" element="tns:getAllModule" />
</message>
<message name="getAllModuleResponse">
<part name="parameters" element="tns:getAllModuleResponse" />
</message>
<message name="getModuleProfileMapping">
<part name="parameters" element="tns:getModuleProfileMapping" />
</message>
<message name="getModuleProfileMappingResponse">
<part name="parameters" element="tns:getModuleProfileMappingResponse" />
</message>
<message name="submitProfileModuleDtl">
<part name="parameters" element="tns:submitProfileModuleDtl" />
</message>
<message name="submitProfileModuleDtlResponse">
<part name="parameters" element="tns:submitProfileModuleDtlResponse" />
</message>
<portType name="RoleMasterService">
<operation name="getAllRoles">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllRolesRequest" message="tns:getAllRoles" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllRolesResponse" message="tns:getAllRolesResponse" />
</operation>
<operation name="createUpdateRole">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/createUpdateRoleRequest" message="tns:createUpdateRole" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/createUpdateRoleResponse" message="tns:createUpdateRoleResponse" />
</operation>
<operation name="getAllLocation">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllLocationRequest" message="tns:getAllLocation" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllLocationResponse" message="tns:getAllLocationResponse" />
</operation>
<operation name="getAllProfiles">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllProfilesRequest" message="tns:getAllProfiles" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllProfilesResponse" message="tns:getAllProfilesResponse" />
</operation>
<operation name="SubmitRoleProfileMapping">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/SubmitRoleProfileMappingRequest" message="tns:SubmitRoleProfileMapping" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/SubmitRoleProfileMappingResponse" message="tns:SubmitRoleProfileMappingResponse" />
</operation>
<operation name="getRoleWiseLocationandProfile">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getRoleWiseLocationandProfileRequest" message="tns:getRoleWiseLocationandProfile" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getRoleWiseLocationandProfileResponse" message="tns:getRoleWiseLocationandProfileResponse" />
</operation>
<operation name="getAllModule">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllModuleRequest" message="tns:getAllModule" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getAllModuleResponse" message="tns:getAllModuleResponse" />
</operation>
<operation name="getModuleProfileMapping">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getModuleProfileMappingRequest" message="tns:getModuleProfileMapping" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/getModuleProfileMappingResponse" message="tns:getModuleProfileMappingResponse" />
</operation>
<operation name="submitProfileModuleDtl">
<input wsam:Action="http://service.master.promo.fks.com/RoleMasterService/submitProfileModuleDtlRequest" message="tns:submitProfileModuleDtl" />
<output wsam:Action="http://service.master.promo.fks.com/RoleMasterService/submitProfileModuleDtlResponse" message="tns:submitProfileModuleDtlResponse" />
</operation>
</portType>
<binding name="RoleMasterServicePortBinding" type="tns:RoleMasterService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getAllRoles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUpdateRole">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllLocation">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllProfiles">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="SubmitRoleProfileMapping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getRoleWiseLocationandProfile">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getAllModule">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getModuleProfileMapping">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="submitProfileModuleDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="RoleMasterServiceService">
<port name="RoleMasterServicePort" binding="tns:RoleMasterServicePortBinding">
<soap:address location="http://10.0.7.111:18080/RoleMasterServiceService/RoleMasterService" />
</port>
</service>
</definitions>