UATClient/src/META-INF/wsdl/10.0.7.111_18080/PromotionProposalServiceService/PromotionProposalService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://service.promotion.fks.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.promotion.fks.com/">

<xs:element name="createManualProposal" type="tns:createManualProposal" />

<xs:element name="createManualProposalResponse" type="tns:createManualProposalResponse" />

<xs:element name="createUploadFileProposal" type="tns:createUploadFileProposal" />

<xs:element name="createUploadFileProposalResponse" type="tns:createUploadFileProposalResponse" />

<xs:element name="downloadMultipleProposalDtl" type="tns:downloadMultipleProposalDtl" />

<xs:element name="downloadMultipleProposalDtlResponse" type="tns:downloadMultipleProposalDtlResponse" />

<xs:element name="getLastErrorFileProposalDtl" type="tns:getLastErrorFileProposalDtl" />

<xs:element name="getLastErrorFileProposalDtlResponse" type="tns:getLastErrorFileProposalDtlResponse" />

<xs:element name="getProposalDtl" type="tns:getProposalDtl" />

<xs:element name="getProposalDtlResponse" type="tns:getProposalDtlResponse" />

<xs:element name="sendArticleFileForvalidate" type="tns:sendArticleFileForvalidate" />

<xs:element name="sendArticleFileForvalidateResponse" type="tns:sendArticleFileForvalidateResponse" />

<xs:element name="updateProposalStatusToAcceptReject" type="tns:updateProposalStatusToAcceptReject" />

<xs:element name="updateProposalStatusToAcceptRejectResponse" type="tns:updateProposalStatusToAcceptRejectResponse" />

<xs:element name="updateProposalStatusToSubmit" type="tns:updateProposalStatusToSubmit" />

<xs:element name="updateProposalStatusToSubmitResponse" type="tns:updateProposalStatusToSubmitResponse" />

<xs:complexType name="updateProposalStatusToAcceptReject">
<xs:sequence>
<xs:element name="arg0" type="tns:acceptRejectProposalVO" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="acceptRejectProposalVO">
<xs:sequence>
<xs:element name="isAccept" type="xs:boolean" />
<xs:element name="proposalId" type="xs:string" minOccurs="0" />
<xs:element name="remarks" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProposalStatusToAcceptRejectResponse">
<xs:sequence>
<xs:element name="return" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="resp">
<xs:sequence>
<xs:element name="msg" type="xs:string" minOccurs="0" />
<xs:element name="pk" type="xs:long" minOccurs="0" />
<xs:element name="redirect" type="xs:boolean" />
<xs:element name="respCode" type="tns:respCode" minOccurs="0" />
<xs:element name="suggestedDate" type="xs:string" minOccurs="0" />
<xs:element name="value" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUploadFileProposal">
<xs:sequence>
<xs:element name="arg0" type="tns:proposalVO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="proposalVO">
<xs:sequence>
<xs:element name="articleList" type="tns:articleMCVO" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="category" type="xs:string" minOccurs="0" />
<xs:element name="contactNo" type="xs:string" minOccurs="0" />
<xs:element name="date" type="xs:string" minOccurs="0" />
<xs:element name="department" type="xs:string" minOccurs="0" />
<xs:element name="deptId" type="xs:string" minOccurs="0" />
<xs:element name="empId" type="xs:string" minOccurs="0" />
<xs:element name="errorFilePath" type="xs:string" minOccurs="0" />
<xs:element name="fileName" type="xs:string" minOccurs="0" />
<xs:element name="filePath" type="xs:string" minOccurs="0" />
<xs:element name="initiatorRemarks" type="xs:string" minOccurs="0" />
<xs:element name="isSaveDraft" type="xs:string" minOccurs="0" />
<xs:element name="otherFilePath" type="xs:string" minOccurs="0" />
<xs:element name="proEnum" type="tns:proposalEnum" minOccurs="0" />
<xs:element name="problemTypeDesc" type="xs:string" minOccurs="0" />
<xs:element name="problemTypeId" type="xs:string" minOccurs="0" />
<xs:element name="promoDesc" type="xs:string" minOccurs="0" />
<xs:element name="promoType" type="xs:string" minOccurs="0" />
<xs:element name="promotionTypeName" type="xs:string" minOccurs="0" />
<xs:element name="proposalId" type="xs:string" minOccurs="0" />
<xs:element name="remarks" type="xs:string" minOccurs="0" />
<xs:element name="siteCode" type="xs:string" minOccurs="0" />
<xs:element name="siteDesc" type="xs:string" minOccurs="0" />
<xs:element name="solutionDesc" type="xs:string" minOccurs="0" />
<xs:element name="status" type="xs:string" minOccurs="0" />
<xs:element name="statusId" type="xs:string" minOccurs="0" />
<xs:element name="subCategory" type="xs:string" minOccurs="0" />
<xs:element name="userName" type="xs:string" minOccurs="0" />
<xs:element name="zoneId" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="articleMCVO">
<xs:sequence>
<xs:element name="articleCode" type="xs:string" minOccurs="0" />
<xs:element name="articleDesc" type="xs:string" minOccurs="0" />
<xs:element name="brand" type="xs:string" minOccurs="0" />
<xs:element name="mcCode" type="xs:string" minOccurs="0" />
<xs:element name="mcDesc" type="xs:string" minOccurs="0" />
<xs:element name="price" type="xs:string" minOccurs="0" />
<xs:element name="seasonCode" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUploadFileProposalResponse">
<xs:sequence>
<xs:element name="return" type="tns:createProposalResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createProposalResp">
<xs:sequence>
<xs:element name="filePath" type="xs:string" minOccurs="0" />
<xs:element name="resp" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadMultipleProposalDtl">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="arg1" type="xs:long" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="downloadMultipleProposalDtlResponse">
<xs:sequence>
<xs:element name="return" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createManualProposal">
<xs:sequence>
<xs:element name="arg0" type="tns:proposalVO" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="createManualProposalResponse">
<xs:sequence>
<xs:element name="return" type="tns:createProposalResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProposalStatusToSubmit">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateProposalStatusToSubmitResponse">
<xs:sequence>
<xs:element name="return" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProposalDtl">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0" />
<xs:element name="arg1" type="xs:boolean" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getProposalDtlResponse">
<xs:sequence>
<xs:element name="return" type="tns:proposalDtlResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="proposalDtlResp">
<xs:sequence>
<xs:element name="proposal" type="tns:proposalVO" minOccurs="0" />
<xs:element name="resp" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendArticleFileForvalidate">
<xs:sequence>
<xs:element name="arg0" type="xs:long" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendArticleFileForvalidateResponse">
<xs:sequence>
<xs:element name="return" type="tns:createProposalResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastErrorFileProposalDtl">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="getLastErrorFileProposalDtlResponse">
<xs:sequence>
<xs:element name="return" type="tns:errorFileProposalResp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="errorFileProposalResp">
<xs:sequence>
<xs:element name="proposalVo" type="tns:proposalVO" minOccurs="0" />
<xs:element name="resp" type="tns:resp" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:simpleType name="respCode">
<xs:restriction base="xs:string">
<xs:enumeration value="SUCCESS" />
<xs:enumeration value="FAILURE" />
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="proposalEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="MANUAL_ENTRY" />
<xs:enumeration value="UPLOAD_FILE" />
<xs:enumeration value="UPLOAD_UPDATE_FILE" />
<xs:enumeration value="UPDATE_PROPOSAL_WITHOUT_FILE" />
</xs:restriction>
</xs:simpleType>
</xs:schema>