UATClient/src/META-INF/wsdl/10.0.7.111_18080/PromotionProposalServiceService/PromotionProposalService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.promotion.fks.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.promotion.fks.com/" name="PromotionProposalServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.promotion.fks.com/" schemaLocation="http://10.0.7.111:18080/PromotionProposalServiceService/PromotionProposalService?xsd=1" />
</xsd:schema>
</types>
<message name="getProposalDtl">
<part name="parameters" element="tns:getProposalDtl" />
</message>
<message name="getProposalDtlResponse">
<part name="parameters" element="tns:getProposalDtlResponse" />
</message>
<message name="createManualProposal">
<part name="parameters" element="tns:createManualProposal" />
</message>
<message name="createManualProposalResponse">
<part name="parameters" element="tns:createManualProposalResponse" />
</message>
<message name="createUploadFileProposal">
<part name="parameters" element="tns:createUploadFileProposal" />
</message>
<message name="createUploadFileProposalResponse">
<part name="parameters" element="tns:createUploadFileProposalResponse" />
</message>
<message name="sendArticleFileForvalidate">
<part name="parameters" element="tns:sendArticleFileForvalidate" />
</message>
<message name="sendArticleFileForvalidateResponse">
<part name="parameters" element="tns:sendArticleFileForvalidateResponse" />
</message>
<message name="getLastErrorFileProposalDtl">
<part name="parameters" element="tns:getLastErrorFileProposalDtl" />
</message>
<message name="getLastErrorFileProposalDtlResponse">
<part name="parameters" element="tns:getLastErrorFileProposalDtlResponse" />
</message>
<message name="updateProposalStatusToSubmit">
<part name="parameters" element="tns:updateProposalStatusToSubmit" />
</message>
<message name="updateProposalStatusToSubmitResponse">
<part name="parameters" element="tns:updateProposalStatusToSubmitResponse" />
</message>
<message name="updateProposalStatusToAcceptReject">
<part name="parameters" element="tns:updateProposalStatusToAcceptReject" />
</message>
<message name="updateProposalStatusToAcceptRejectResponse">
<part name="parameters" element="tns:updateProposalStatusToAcceptRejectResponse" />
</message>
<message name="downloadMultipleProposalDtl">
<part name="parameters" element="tns:downloadMultipleProposalDtl" />
</message>
<message name="downloadMultipleProposalDtlResponse">
<part name="parameters" element="tns:downloadMultipleProposalDtlResponse" />
</message>
<portType name="PromotionProposalService">
<operation name="getProposalDtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/getProposalDtlRequest" message="tns:getProposalDtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/getProposalDtlResponse" message="tns:getProposalDtlResponse" />
</operation>
<operation name="createManualProposal">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/createManualProposalRequest" message="tns:createManualProposal" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/createManualProposalResponse" message="tns:createManualProposalResponse" />
</operation>
<operation name="createUploadFileProposal">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/createUploadFileProposalRequest" message="tns:createUploadFileProposal" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/createUploadFileProposalResponse" message="tns:createUploadFileProposalResponse" />
</operation>
<operation name="sendArticleFileForvalidate">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/sendArticleFileForvalidateRequest" message="tns:sendArticleFileForvalidate" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/sendArticleFileForvalidateResponse" message="tns:sendArticleFileForvalidateResponse" />
</operation>
<operation name="getLastErrorFileProposalDtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/getLastErrorFileProposalDtlRequest" message="tns:getLastErrorFileProposalDtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/getLastErrorFileProposalDtlResponse" message="tns:getLastErrorFileProposalDtlResponse" />
</operation>
<operation name="updateProposalStatusToSubmit">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/updateProposalStatusToSubmitRequest" message="tns:updateProposalStatusToSubmit" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/updateProposalStatusToSubmitResponse" message="tns:updateProposalStatusToSubmitResponse" />
</operation>
<operation name="updateProposalStatusToAcceptReject">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/updateProposalStatusToAcceptRejectRequest" message="tns:updateProposalStatusToAcceptReject" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/updateProposalStatusToAcceptRejectResponse" message="tns:updateProposalStatusToAcceptRejectResponse" />
</operation>
<operation name="downloadMultipleProposalDtl">
<input wsam:Action="http://service.promotion.fks.com/PromotionProposalService/downloadMultipleProposalDtlRequest" message="tns:downloadMultipleProposalDtl" />
<output wsam:Action="http://service.promotion.fks.com/PromotionProposalService/downloadMultipleProposalDtlResponse" message="tns:downloadMultipleProposalDtlResponse" />
</operation>
</portType>
<binding name="PromotionProposalServicePortBinding" type="tns:PromotionProposalService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getProposalDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createManualProposal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="createUploadFileProposal">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sendArticleFileForvalidate">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getLastErrorFileProposalDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateProposalStatusToSubmit">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateProposalStatusToAcceptReject">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="downloadMultipleProposalDtl">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="PromotionProposalServiceService">
<port name="PromotionProposalServicePort" binding="tns:PromotionProposalServicePortBinding">
<soap:address location="http://10.0.7.111:18080/PromotionProposalServiceService/PromotionProposalService" />
</port>
</service>
</definitions>